        <div class="left-zone">
        <h3>Notes</h3>
        <div class="info-block">
            <p class="desc">Checking off multiple categories make entries more specific (and also process longer)! They're mostly self-explanatory, but here's more information below:</p>
            <ul>
                <li><b>Committee:</b> Campaign committee</li>
                <li><b>Occupation:</b> Job role</li>
                <li><b>Sector:</b> Occupation group</li>
                <li><b>State:</b> U.S. state</li>
            </ul>
        </div>
        </div>
        </div>